<?xml version="1.0"?>
<launch>
  <!-- Command-line arguments -->
  <arg name="ns" default="o3d3xx"/>
  <arg name="nn" default="camera"/>
  <arg name="infile" default="-"/>

  <node pkg="o3d3xx"
	type="o3d3xx_config_node"
	ns="$(arg ns)/$(arg nn)"
	name="config_node"
	output="screen">

    <param name="infile" value="$(arg infile)"/>
    <remap from="/Config" to="/$(arg ns)/$(arg nn)/Config"/>

  </node>

</launch>
