<?xml version="1.0"?>
<launch>
  <!-- Command line arguments -->
  <arg name="ns" default="o3d3xx"/>
  <arg name="nn" default="camera"/>
  <arg name="hz" default="1.0"/>

  <group ns="$(arg ns)/$(arg nn)">
    <node pkg="topic_tools"
        type="throttle"
        name="cloud_throttler"
        args="messages $(arg ns)/$(arg nn)/cloud $(arg hz)"/>

    <node pkg="topic_tools"
        type="throttle"
        name="depth_throttler"
        args="messages $(arg ns)/$(arg nn)/depth $(arg hz)"/>

    <node pkg="topic_tools"
        type="throttle"
        name="amplitude_throttler"
        args="messages $(arg ns)/$(arg nn)/amplitude $(arg hz)"/>

    <node pkg="topic_tools"
        type="throttle"
        name="raw_amplitude_throttler"
        args="messages $(arg ns)/$(arg nn)/raw_amplitude $(arg hz)"/>

    <node pkg="topic_tools"
        type="throttle"
        name="confidence_throttler"
        args="messages $(arg ns)/$(arg nn)/confidence $(arg hz)"/>

    <node pkg="topic_tools"
        type="throttle"
        name="xyz_image_throttler"
        args="messages $(arg ns)/$(arg nn)/xyz_image $(arg hz)"/>
  </group>

</launch>
